{% extends 'layout.html.twig' %}

{% block body %}

    {% include "header.html.twig" %}
    
    {% block title %} <H1>Accueil</H1> {% endblock %}
    
    <p>Bienvenue sur notre site de jeux videos</p>
    
    {% include "footer.html.twig" %}

{% endblock %}
