@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 1s;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
  }

  .title{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(164, 161, 161);
  }

  .navbar {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0;
  }
  
  .nav-item:hover {
    font-weight: bolder;
    transition: all ease 0.5s;
    color: rgb(214, 176, 23);
  }

.user-tr{
  margin-bottom: 10px;
}

.user-td{
  text-align: center;
  vertical-align: middle;
}

.action-buttons {
  display: flex;
  justify-content: center;
}
