{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
    {% include "header.html.twig" %}


    <h1>Hello {{ controller_name }}! ✅</h1>

    {% include "footer.html.twig" %}
{% endblock %}
